<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/zuozishi/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="zuozishi" />
            <add key="ClearTextPassword" value="{GITHUB_TOKEN}" />
        </github>
    </packageSourceCredentials>
</configuration>